@page
@model AirMastera.Infrastructure.Identity.Pages.Auth.ViewImports
@using AirMastera.Infrastructure.Identity.Models
@addTagHelper "* Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>